<table class="table table-striped table-dark">
    <thead>
        <td>Product Name</td>
        <td>Product Price</td>
        <td>Product Quantity</td>
        <td>Total</td>
        <td>Options</td>
    </thead>
    <tbody>
        <tr *ngFor="let product of Shoppingcart; index as i">
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td><input type="number" placeholder="Amount (kg)" [(ngModel)]="product.amount" min="0"></td>
            <td>{{ product.price * product.amount | currency:'INR' }}</td>
            <td>
                <button class="btn btn-primary">Save</button>
                <button class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </tbody>
</table>