<div class="body container">
    <h2 class="text-center">Log In</h2>

    <form #f="ngForm" (ngSubmit)="login(f)">

        <input ngModel name="Email" type="email" #email="ngModel" class="form-control" placeholder="Email" required
            email> <br>
        <div class="alert alert-danger" *ngIf="email.errors?.required && email.touched">Email is Required</div>
        <div class="alert alert-danger" *ngIf="email.errors?.email && email.touched">Email Format is not correct</div>

        <input ngModel name="Password" type="password" #password="ngModel" class="form-control" placeholder="Password"
            required minlength="6"><br>
        <div class="alert alert-danger" *ngIf="password.errors?.required && password.touched">Password is required</div>
        <div class="alert alert-danger" *ngIf="password.errors?.minlength && password.touched">Password should be at
            least 6
        </div>

        <button class="btn btn-primary" [disabled]="f.invalid" (click)="login(f)">Login</button>
    </form>
</div>